HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/user-service/target/

/nacos/data/protocol/raft/naming_instance_metadata/log/LOCK
/nacos/data/protocol/raft/naming_persistent_service_v2/log/LOCK
/nacos/data/protocol/raft/naming_service_metadata/log/LOCK

# nacos
/nacos
